{% extends "emc/base.html" %}
{% block content %}
{% load staticfiles %}


<div data-role="content" data-theme="{{ theme }}" class="ui-body ui-corner-all ui-overlay-shadow">
<h1>Welcome to the Upload Picture page </h1>

<form action="{% url 'upload_pic' %}" method="post" enctype="multipart/form-data" data-ajax="false">{% csrf_token %}
{{ form.errors }}
{{ form.non_field_errors }}
    <p>
        <input type="file" name="image" accept="image/*" capture="camera">
    </p>
    <input type="submit" value="Submit" />
    </form>



{% endblock %}
